<%- include("partials/header.ejs") %>

<body class="container-fluid email">
  <header class="container header">
    New article on The #WOKEWeekly Blog.
  </header>
  <div class="container email-content">
    <h1 class="article-title"><%= article.title %></h1>

    <div class="article-metadata">
      <div class="author-thumbnail-container">
        <img
          src="<%= article.authorImage %>"
          alt="<%= article.authorName %>"
          class="author-thumbnail"
        />
      </div>
      <div class="article-details">
        <!-- TODO: Add link to author profile -->
        <div>Written by <%= article.authorName %></div>
        <div><%= article.datePublished %></div>
      </div>
    </div>

    <img
      src="<%= article.image %>"
      alt="<%= article.title %>"
      class="content-image"
    />

    <%= article.content %>

    <div class="button-container">
      <a href="<%= article.slug %>" class="button">
        Read Full Article
      </a>
    </div>
  </div>
  <%- include("partials/footer.ejs", { email: 'heyyaaa', url: article.slug }) %>
</body>

<!-- TODO: Add tags -->
