<%- include("partials/head.ejs") %>

<body class="container-fluid email">
  <header class="container header">
    New article on The #WOKEWeekly Blog.
  </header>
  <div class="container email-content">
    <h1 class="article-title"><%= article.title %></h1>

    <table>
      <td>
        <img
          src="<%= article.authorImage %>"
          alt="<%= article.authorName %>"
          class="author-thumbnail"
        />
      </td>

      <td>
        <div class="article-details">
          <div>
            Written by
            <a href="<%= article.authorSlug %>" class="author-link">
              <%= article.authorName %>
            </a>
          </div>
          <div><%= article.datePublished %></div>
        </div>
      </td>
    </table>

    <img
      src="<%= article.coverImage %>"
      alt="<%= article.title %>"
      class="content-image"
    />

    <p><%= article.content %></p>

    <div class="button-container">
      <a href="<%= article.slug %>" class="button">
        Read Full Article
      </a>
    </div>
  </div>
  <%- include("partials/footer-subscribed.ejs", { url: article.slug }) %>
</body>

<!-- TODO: Add tags -->
