<%- include("partials/header.ejs") %>

<body class="container-fluid email">
  <div class="container header-image-container">
    <img
      src="<%= cloudinary.url %>/w_768,c_lfill/public/bg/emails-recovery.jpg"
      alt="#WOKEWeekly"
      class="header-image"
    />
  </div>
  <div class="container email-content">
    Hey <%= user.firstname %>!
    <br /><br />

    You're receiving this email because you've requested to reset your password.
    Simply click the button below to reset it.

    <div class="button-container">
      <a href="<%= domain %>/account?verify=<%= token %>" class="button">
        Reset Your Password
      </a>
    </div>

    If you didn't request to reset your password, please ignore this email or
    respond to let us know there has been an error.<br /><br />

    Please note that this password reset link is only valid for the next 30
    minutes.
    <br /><br />

    <%- include("partials/signature.ejs") %>
  </div>
</body>
