<% 
  const websiteLinks = [
    ['about', 'About Us'],
    ['faq', 'FAQs'],
    ['privacy', 'Privacy Policy']
  ];

  const socialButtons = [
    ['facebook', 'FB'], 
    ['twitter', 'TW'], 
    ['instagram', 'IG'], 
    ['linkedin', 'LI'], 
    ['youtube', 'YT'], 
  ]
%>

<footer class="container footer">

  <!-- The footer's website links. -->
  <div class="footer-website-container">
    <% websiteLinks.map(([url, title]) => {%>
      <a href="<%= domain %>/<%= url %>" class="footer-website-links"><%= title %></a>
    <% })%>
  </div>

  <!-- The footer's social buttons. -->
  <div class="footer-social-container">
    <% socialButtons.map(([platform, alt]) => {%>
      <a href="<%= accounts[platform] %>" class="footer-social-links">
        <img
          src="<%= cloudinary.url %>/public/logos/<%= platform %>-icon.png"
          alt=<%= alt %>
        />
      </a>
    <% })%>
  </div>

  <!-- The #WOKEWeekly tagline. -->
  <div class="tagline">Awakening Through Conversation.</div>

  <a href="<%= domain %>">
    <img
      src="<%= cloudinary.url %>/public/logos/wokeweekly-logo.png"
      class="signature"
      alt="#WOKEWeekly"
    />
  </a>

  <!-- The copyright notice. -->
  <div class="copyright">
    <%= copyright %>
  </div>

</footer>
