<div class="container">
  <!-- The footer's website links. -->
  <table class="footer-website-container">
    <tr>
      <td>
        <a href="<%= domain %>/about" class="footer-website-links">
          About Us
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="<%= domain %>/faq" class="footer-website-links">
          FAQs
        </a>
      </td>
    </tr>
    <tr>
      <td>
        <a href="<%= domain %>/privacy" class="footer-website-links">
          Privacy Policy
        </a>
      </td>
    </tr>
  </table>

  <!-- The footer's social buttons. -->
  <table class="footer-social-container">
    <tr>
      <td>
        <a href="<%= accounts.facebook %>" class="footer-social-links">
          <img
            src="<%= cloudinary.url %>/public/logos/facebook-icon.png"
            alt="FB"
          />
        </a>
      </td>
      <td>
        <a href="<%= accounts.twitter %>" class="footer-social-links">
          <img
            src="<%= cloudinary.url %>/public/logos/twitter-icon.png"
            alt="TW"
          />
        </a>
      </td>
      <td>
        <a href="<%= accounts.instagram %>" class="footer-social-links">
          <img
            src="<%= cloudinary.url %>/public/logos/instagram-icon.png"
            alt="IG"
          />
        </a>
      </td>
      <td>
        <a href="<%= accounts.linkedin %>" class="footer-social-links">
          <img
            src="<%= cloudinary.url %>/public/logos/linkedin-icon.png"
            alt="LI"
          />
        </a>
      </td>
      <td>
        <a href="<%= accounts.youtube %>" class="footer-social-links">
          <img
            src="<%= cloudinary.url %>/public/logos/youtube-icon.png"
            alt="YT"
          />
        </a>
      </td>
    </tr>
  </table>

  <!-- The #WOKEWeekly tagline. -->
  <div class="tagline">
    Awakening Through Conversation.
  </div>

  <a href="<%= domain %>">
    <img
      src="<%= cloudinary.url %>/public/logos/wokeweekly-logo.png"
      class="signature"
      alt="#WOKEWeekly"
    />
  </a>

  <!-- The copyright notice. -->
  <div class="copyright">
    <%= copyright %>
  </div>
</div>
